{{#dp-map zoom=14 on-center-change='map-center-changed'}}
  {{dp-circle center=model.center}}
  {{dp-marker position=model.center}}
{{/dp-map}}

{{link-to "Map" "map"}}

<button {{action 'log-center'}}>Log address</button>
